/* content */

section {
    display: flex;
    flex-direction: row;
    max-width: 73%;
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 50px; */
}

/* date of delivery */
.date_of_delivery {
    width: 25%;
    height: 100vh;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.date_of_delivery p,
.date_of_delivery h3 {
    margin: 0;
}

/* date */
.date {
    padding: 16px 23px;
    /* text-align: center; */
    text-transform: uppercase;
}


/* buttons */
.buttons {
    display: flex;
    flex-direction: column;
}

.startNow {
    padding: 24px 16px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.designer {
    padding: 24px 16px;
}

.text-svg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}



@media(min-width:900px) {
    .date_of_delivery h3 {
        font-weight: 700;
        font-size: 56px;
        line-height: 56px;
    }

    .startNow a {
        font-size: 20px;
        line-height: 24px;
        text-decoration: none;
        color: black;
    }

    .startNow h3 {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
    }

    .designer a {
        font-size: 20px;
        line-height: 24px;
        text-decoration: none;
        color: black;
    }

    .designer h3 {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
    }
}

/* gif */
.gif {
    width: 75%;
    display: flex;
    justify-content: center;
}

.gif img {
    height: 99vh;
}