/* navbar */
@media(max-width:680px) {
    nav {
        justify-content: space-between;
        gap: 20px;
        /* padding: 8px 16px; */
        width: 100%;
        max-width: 100vw;
    }

    .dont_show {
        display: none;
    }

    /* .menu {
        max-width: 100%;
        height: auto;
    }

    .top {
        justify-content: column;
    }

    .top,
    .Linfo,
    .rHelp {
        flex-direction: column;
        width: 100%;
    }

    .Linfo {
        border: none !important;
    }

    .top .Linfo,
    .top .rHelp {
        width: 100%;
        max-width: 100vw;
        box-sizing: border-box;
        padding: 16px;
    }

    .rHelp {
        max-width: 100vw;
        overflow-x: hidden;
    }

    .linkR,
    .linkL {
        font-size: 24px;
        line-height: 24px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: right;
    }


    .extra_container {
        margin-top: 40px;
    }

    .extra_container p {
        font-size: 32;
        line-height: 32px;
        font-weight: 700;
    }

    .inst {
        border-right: none;
        width: 30%;
    } */
}


/* @media(min-width:760px) {

    .top .extra_container {
        display: none;
    }

    .top,
    .Linfo,
    .rHelp {
        flex-direction: column;
        width: 100%;
    }

    .Linfo {
        border: none !important;
        margin-top: 40px;
    }

    .top .Linfo,
    .top .rHelp {
        width: 100%;
        max-width: 100vw;
        box-sizing: border-box;
        padding: 16px;
    }

    .rHelp {
        max-width: 100vw;
        overflow-x: hidden;
    }

    .menu {
        max-width: 100%;
    }

    .top {
        justify-content: end;

    }

    .inst {
        border-right: none;
        width: 30%;
    }

    .linkR,
    .linkL {
        font-size: 24px;
        line-height: 24px;
        text-transform: uppercase;
        text-align: right;
    }

    .linkL {
        font-weight: 400;
    }
} */
/* 
@media(min-width:1020px) {

    .menu {
        max-width: 100%;
    }

    .top,
    .Linfo,
    .rHelp {
        flex-direction: row;
        width: 100%;
    }

    .rHelp{
        border-left: 1px solid black;
    }

    .Linfo {
        /* border-right: 1px solid black !important; */
/* }

    .linkR {
        font-size: 56px;
        line-height: 56px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: right;
    }

    .linkL {
        font-size: 32px;
        line-height: 32px;
        font-weight: 700;
        text-transform: uppercase;
        text-align: right;
    }

    .inst {
        border-right: 1px solid black;
        width: 15%;
    }
} */






/* menu */

@media(min-width:770px) {


    .extra_container {
        display: none !important;
    }


}

@media(max-width:769px) {
    .extra_container {
        margin-top: 0;
    }

    .top {
        display: flex;
        justify-content: end;
    }

    .top div {
        width: auto;
        margin-left: auto;
    }

    .inst {
        width: 30% !important;
    }


}

@media(max-width:825px) {
    .top div {
        width: auto;
        margin-left: auto;
    }

    .top {
        width: 100vw;
        flex-direction: column !important;
        /* text-align: right !important; */
    }

    .rHelp {
        border: none !important;
                font-size: 24px;
        line-height: 24px;
    }

    .Linfo,
    .rHelp {
        padding: 16px;
    }

    .titleM {
        margin: 0 0 8px;
    }

    .top .Linfo {
        max-width: 100%;
        justify-content: start !important;
    }

    .Linfo p {
        font-size: 24px;
        line-height: 24px;
        font-weight: 400;
    }

    .rHelp p {
        font-size: 20px;
        line-height: 24px;
    }

    .inst {
        width: 30% !important;

    }
}


@media(max-width:1024px) {


    .menu {
        max-width: 100% !important;
    }

    .rHelp {
        border-left: 1px solid black;
    }
}