@font-face {
    font-family: 'Quicksand-Bold';
    src: url('fonts/static/Quicksand-Bold.ttf'),
}

@font-face {
    font-family: 'Quicksand-Medium';
    src: url('fonts/static/Quicksand-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
