footer {
    background-color: var(--black);
    color: var(--white);
    padding: 28px 0;
    /* display: flex;
    justify-content: space-between; */
    font-weight: 400;
}

footer a {
    color: var(--white);
    text-decoration: none;
    font-weight: 400;
}


.foot {
    width: 100%;
    display: flex;
    justify-self: center;
    justify-content: space-around;
    flex-direction: row;

}

/* left side  */
.contact_info {
    width: 50%;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;
}

/* css for title, discription */
.contact p {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
}

.contact .title {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 20px;
}

.us {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    padding: 16px 0 40px;
}

.madh {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
}

/* links */
.contact .info {
    max-width: 50%;
}

.contact .help {
    max-width: 50%;
}

.link {
    transition: 0.7s ease;
    margin: 0;
    font-size: 20px;
}

.link:hover {
    color: rgb(255, 255, 255);
    opacity: 0.6;
}


/* right side */
.input {
    width: 50%;
    display: flex;
    /* justify-content: end; */
    flex-direction: column;
}

.input .title{
    margin: 0;
}

form {
    padding: 16px 0 40px;
}



/* copyright */

.instCopyr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.instCopyr .copyright {
    font-size: 10px;
    line-height: 16px;
    margin: 16px 0 0 0;
}


input {
    width: 95%;
    padding: 16.5px 14px;
    font-family: 'Quicksand-Medium', sans-serif;
    box-sizing: content-box;
}


::placeholder {
    font-size: 20px;
    font: inheritf;
}

.button{
    /* max-width: 20%; */
    display: flex;
    /* justify-content: end; */
    justify-self: end;
    margin: 16px 0 0 0;
    font-size: 20px;
}

form svg{
    margin-top: 5px;
    margin-left: 5px;
    display: flex;
    justify-content: space-around;
}