:root {
    --black: #000;
    --white: #fff;
    --font: "Mada", sans-serif;
}

body {
    font-family: var(--font);
    margin: 0;
    background-color: var(--white);
    color: var(--black);
    font-size: 1rem;
    line-height: 1.5;
}

/* nav bar */
nav {
    background-color: var(--white);
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid var(--black);
    font-size: 16px;
    line-height: 20px;
    position: fixed;
    transition: 0.3s ease;
    z-index: 3;
}

nav p {
    margin: 0;
}

nav a p {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: baseline;
}

.burger-button {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    cursor: pointer;
}



.hide {
    transform: translateY(-100%);
    opacity: 0;
}

nav a {
    padding: 12px;
    text-decoration: none;
    color: var(--black);
}

.left {
    display: flex;
    justify-items: baseline;
}

.right {
    display: flex;
    justify-items: baseline;
}


/* content */

section {
    /* height: 100vh; */
    max-width: 73%;
    border-right: 1px solid var(--black);
    border-left: 1px solid var(--black);
    margin-left: auto;
    margin-right: auto;
}

/* section new */

.container {
    max-height: 100%;
    height: 100vh;
    border-bottom: 1px solid var(--black);
    background-image: url(assets/ea4d579ce9ef86639a849c18a36f835deb1bedec-4269x2400.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container a {
    display: flex;
    /* justify-self: center; */
    text-decoration: none;
    font-family: 'Quicksand-Medium', sans-serif;
}

.new {
    max-width: 400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;

}

.container h3 {
    display: flex;
    justify-content: center;
    /* margin-top: 45vh; */
    color: var(--white);
    transition: 0.7s;
    font-size: 100px;
    margin: 0;

}

.container h3:hover {
    color: rgb(255, 255, 255);
    opacity: 0.8;
}


/* section with 2 images */

.no_bg {
    background-image: none;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.no_bg img {
    max-width: 50%;
    object-fit: cover;
}

.text h3{
    text-align: center;
}

.text {
    width: 50%;
    display: flex;
    justify-self: center;
    flex-direction: column;
    justify-content: center;
}

.women h3 {
    color: var(--black);
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    /* cursor: pointer; */
    height: auto;
}

.women h3:hover {
    color: rgb(0, 0, 0);
    opacity: 0.5;
}

/* section 2 images */

.man_images {
    /* margin-bottom: 260px; */
}

/* section 3 images -   */

.forJeans {
    /* height: 750px; */
    /* background-image: url(assets/Group\ 1.png); */
    /* background-position: center;
    background-size: contain;
    background-repeat: no-repeat; */
    display: flex;
    flex-direction: column;
    border: none;
    /* margin-bottom: -176px; */
}

.forJeans .images {
    max-width: 100%;
    justify-self: center;
    justify-content: center;

}

.images {
    display: flex;
    flex-direction: row;
    /* z-index: 0; */
}

.images img {
    width: 33%;
}

.textJ {
    width: auto;
    max-width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    
    
    text-transform: uppercase;
    /* margin-top: -76%; */
    margin-left: auto;
    margin-right: auto;
    z-index: 3;
    
}

/* .textJ a{
    margin-top: -50%;
} */

/* .textJ a {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
} */

/* carousel */
.mySlides {
    display: none;
}

.slideshow-container {
    /* max-width: 1000px; */
    position: relative;
    /* margin: auto; */
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    z-index: 5;
}

.next {
    right: 0%;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}



/* discription */
.discription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    max-width: 100%;
    padding: 0 32px 60px 32px;
}

.jeansText {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

/* Окно, в котором видно только 3 фото */
.forJeans {
    /* width: 100%; */
    overflow: hidden;
    /* скрывает остальные */
}

/* Лента изображений */
.slider {
    display: flex;
    transition: transform 0.4s ease;
}

/* Каждое изображение занимает ровно 1/3 */
.slider img {
    width: 33%;
    height: 100%;
    object-fit: contain;
    /* картинка полностью видна */
    background: #fff;
}


/* Стрелки */
.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 40px;
    cursor: pointer;
    user-select: none;
    padding: 10px;
    z-index: 10;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}