/* right */
.settings_of_style {
    width: 45%;
    display: flex;
    flex-direction: row;

}

/* container with settings of outfit */
.style {
    width: 55%;
    height: 99vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid black;
}

.headingText {
    padding: 20px 16px;
}

.headingText h3 {
    margin: 0;
    font-size: 56px;
    line-height: 56px;
    font-weight: 700;
    text-transform: uppercase;
}

.custom_settings {
    border-top: 1px solid black;
}

.containerSettings {
    padding: 24px 16px;
    border-bottom: 1px solid black;
}

.selected {
    background-color: #ededed;
}

.containerSettings p {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    margin: 0;
}

.containerSettings h3 {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin: 0;
}

.bottom {
    border: none;
    justify-content: space-between;
}

.top {
    justify-content: space-between;
}

.AddToCart button {
    padding: 8px 20px;
    width: 100%;
    border: 0;
    background-color: var(--black);
    color: #B9B9B9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: var(--font);
    font-size: 20px;
    line-height: 24px;
}

/* mid */
.gender {
    width: 28%;
    height: 99vh;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
}

.gend p {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    margin: 0;
}

.gend .gender {
    width: 100%;
}

.gend {
    /* width: 33.3%; */
    height: 33.3vh;
    padding: 16px 24px;
    border-bottom: 1px solid black;
}

.selectedG {
    background-color: #B9B9B9;
}

/* buttton */
.buttonNext {
    padding: 24px 8px;
    border-right: 1px solid black;
}

.buttonNext button {
    background-color: var(--white);
    border: none;
    font-size: 20px;
    line-height: 24px;
    writing-mode: vertical-lr;
    display: flex;
    flex-direction: row;

}

button p {
    margin: 0;
}


/* left */
.image_of_outfit {
    height: 99vh;
    width: 60%;
}

.image_of_outfit img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* extra container for page, which will be show only at display smaller 1199px */
.sm1199px {
    display: none;
    /* width: 100%; */
    flex-direction: column;
}

.heading_of_the_top {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    padding: 16px 20px;
}

.heading_of_the_top p {
    margin: 0;
}

.image_center img {
    width: 100%;
}

.custom_settings_bottom {
    display: flex;
    flex-direction: column;
}

.list_of_filter {
    display: flex;
    flex-direction: row;
}

.lf {
    width: 100%;
    border-top: 1px solid black;
    border-right: 1px solid black;
    padding: 4px 0 4px 8px;
    display: flex;
    justify-content: start;
}

.lf p {
    margin: 0;
}

.carousel {
    display: flex;
    flex-direction: row;
}

.filterSM {
    border-top: 1px solid black;
    border-right: 1px solid black;
    flex: 0 0 10em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 4px;
}

.filterSM p {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
}

/* media query */
@media(max-width:1199px) {
    .more1199px {
        display: none;
    }

    .sm1199px {
        display: flex;
    }

    .AddToCart button {
        padding: 8px 8px;
    }
}