/* right */
.settings_of_style {
    width: 45%;
    display: flex;
    flex-direction: row;

}

.style {
    width: 55%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid black;
}

.headingText {
    padding: 20px 16px;
}

.headingText h3 {
    margin: 0;
    font-size: 56px;
    line-height: 56px;
    font-weight: 700;
    text-transform: uppercase;
}

.custom_settings {
    border-top: 1px solid black;
}

.containerSettings {
    padding: 24px 16px;
    border-bottom: 1px solid black;
}

.selected {
    background-color: #ededed;
}

.containerSettings p {
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    margin: 0;
}

.containerSettings h3 {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin: 0;
}

.bottom {
    border: none;
    justify-content: space-between;
}

.top {
    justify-content: space-between;
}

.AddToCart button {
    padding: 8px 20px;
    width: 100%;
    border: 0;
    background-color: var(--black);
    color: #B9B9B9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: var(--font);
    font-size: 20px;
    line-height: 24px;
}

/* mid */
.gender {
    width: 30%;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
}

.gend {
    width: 33.3%;
    height: 33.3vh;
}

.buttonNext {
    border-right: 1px solid black;
}


/* left */
.image_of_outfit {
    width: 60%;
}

.image_of_outfit img {
    width: 100%;
}