/* navbar */
@media(max-width:680px) {
    nav {
        justify-content: space-between;
        gap: 20px;
        /* padding: 8px 16px; */
        width: 100%;
        max-width: 100vw;
    }

    .dont_show {
        display: none;
    }
}

/* menu */

@media(min-width:770px) {


    .extra_container {
        display: none !important;
    }


}

@media(max-width:769px) {
    .extra_container {
        margin-top: 0;
    }

    .top {
        display: flex;
        justify-content: end;
    }

    .top div {
        width: auto;
        margin-left: auto;
    }

    .inst {
        width: 30% !important;
    }


}

@media(max-width:825px) {
    .top div {
        width: auto;
        margin-left: auto;
    }

    .top {
        width: 100vw;
        flex-direction: column !important;
        /* text-align: right !important; */
    }

    .rHelp {
        border: none !important;
        font-size: 24px;
        line-height: 24px;
    }

    .Linfo,
    .rHelp {
        padding: 16px;
    }

    .titleM {
        margin: 0 0 8px;
    }

    .top .Linfo {
        max-width: 100%;
        justify-content: start !important;
    }

    .Linfo p {
        font-size: 24px;
        line-height: 24px;
        font-weight: 400;
    }

    .rHelp p {
        font-size: 20px;
        line-height: 24px;
    }

    .inst {
        width: 30% !important;

    }
}


@media(max-width:1024px) {


    .menu {
        max-width: 100% !important;
    }

    .rHelp {
        border-left: 1px solid black;
    }
}