.Content {
    display: flex;
    flex-direction: column;
}

.nameOfCategories {
    width: 100%;
    height: 100vh;
    background-image: url(assets/background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.Title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    color: var(--white);
    text-transform: uppercase;
}

h3 {
    margin: 0;
}

.listProducts{
    display: flex;
    flex-direction: row;
}

.product {
    width: 33.3%;
    border-left: 1px solid black;
    border-top: 1px solid black;
}